* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: Poppins, sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  font-family: Poppins, sans-serif;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins, sans-serif;
  font-size: inherit;
  font-weight: inherit;
}

p,
span {
  font-family: Poppins, sans-serif;
}

.outline-button {
  width: 220px;
  height: 70px;
  border-radius: 5px;
  background: #263238;
  background: none;
  border: 2px solid #263238;
  font-size: 20px;
  font-weight: 400;
}

.logo {
  font-family: Poppins, sans-serif;
  font-size: 36px;
  font-weight: 400;
}
.logo__span {
  color: #939393;
}

.navbar {
  display: flex;
}
.navbar__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__links {
  display: flex;
  gap: 38px;
}
.navbar__link {
  color: black;
  font-size: 20px;
  font-weight: 500;
}
.navbar__link:hover {
  cursor: pointer;
}
.header__content {
  display: flex;
  justify-content: space-between;
}
.header__info {
  padding-top: 50px;
}
.header__title {
  max-width: 395px;
  font-size: 64px;
  font-weight: 600;
  line-height: 80px;
  position: relative;
  text-wrap: wrap;
}
.header__title::before {
  content: "";
  position: absolute;
  top: 100px;
  left: 450px;
  background: url("/assets/svgs/lamp.svg");
  background-position: center;
  width: 85px;
  height: 85px;
  z-index: 10;
}
.header__text {
  margin-top: 40px;
  font-size: 24px;
  color: #8F95A5;
  line-height: 36px;
}
.header__button {
  width: 438px;
  height: 118px;
  border-radius: 15px;
  background: #263238;
  margin-top: 61px;
  font-size: 36px;
  color: white;
}
.header__picture {
  width: 661px;
  height: 661px;
}

.skill-card-listening, .skill-card-reading, .skill-card-writing, .skill-card-speaking {
  background-color: #F5F5F5;
  border-radius: 10px;
}
.skill-card-listening .skill-card__content, .skill-card-reading .skill-card__content, .skill-card-writing .skill-card__content, .skill-card-speaking .skill-card__content {
  padding: 0 42px;
}
.skill-card-listening .skill-card__info, .skill-card-reading .skill-card__info, .skill-card-writing .skill-card__info, .skill-card-speaking .skill-card__info {
  display: flex;
  flex-direction: column;
}
.skill-card-listening .skill-card__picture, .skill-card-reading .skill-card__picture, .skill-card-writing .skill-card__picture, .skill-card-speaking .skill-card__picture {
  max-width: 100%;
}
.skill-card-listening .skill-card__title, .skill-card-reading .skill-card__title, .skill-card-writing .skill-card__title, .skill-card-speaking .skill-card__title {
  font-size: 30px;
  color: #2A3246;
  font-weight: 600;
  text-wrap: wrap;
}
.skill-card-listening .skill-card__text, .skill-card-reading .skill-card__text, .skill-card-writing .skill-card__text, .skill-card-speaking .skill-card__text {
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;
  color: #8F95A5;
}
.skill-card-listening span, .skill-card-reading span, .skill-card-writing span, .skill-card-speaking span {
  display: block;
  height: 16px;
}
.skill-card-listening .skill-card__button, .skill-card-reading .skill-card__button, .skill-card-writing .skill-card__button, .skill-card-speaking .skill-card__button {
  width: 230px;
  height: 60px;
  border-radius: 5px;
  background: #263238;
  margin-top: 38px;
  font-size: 20px;
  color: white;
}

.skill-card-speaking {
  grid-area: speaking;
}
.skill-card-speaking .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.skill-card-speaking .info {
  margin-top: 40px;
}

.skill-card-writing {
  grid-area: writing;
}
.skill-card-writing .skill-card__content {
  height: 100%;
  padding-top: 278px;
  padding-bottom: 40px;
  position: relative;
}
.skill-card-writing .skill-card__picture {
  max-width: 293px;
  position: absolute;
  top: 0;
  right: 0;
}
.skill-card-writing .skill-card__info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skill-card-reading {
  grid-area: reading;
}
.skill-card-reading .skill-card__content {
  height: 100%;
  padding-top: 278px;
  padding-bottom: 40px;
  position: relative;
}
.skill-card-reading .skill-card__picture {
  max-width: 371px;
  position: absolute;
  top: 20px;
  left: 0;
}
.skill-card-reading .skill-card__info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skill-card-listening {
  grid-area: listening;
}
.skill-card-listening .skill-card__content {
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
.skill-card-listening .skill-card__info {
  max-width: 328px;
}
.skill-card-listening .skill-card__button {
  margin-top: 20px;
}

.skills__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills__title {
  font-size: 48px;
  font-weight: 600;
}
.skills__cards {
  margin-top: 120px;
  height: 894px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "speaking writing reading" "speaking listening listening";
}

.about-us__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-us__picture {
  max-width: 500px;
}
.about-us__info {
  max-width: 635px;
}

.info__title {
  font-size: 48px;
  font-weight: 600;
}
.info__text {
  margin-top: 46px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #8F95A5;
}
.info__counter-block {
  margin-top: 68px;
}

.counter-block {
  max-width: 610px;
  display: flex;
  justify-content: space-between;
}
.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counter__count {
  font-size: 48px;
  font-weight: 600;
  color: #263238;
}
.counter__info {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #8F95A5;
}

.personal-tuition-service, .online-classes-service, .self-study-service {
  display: flex;
}
.personal-tuition-service .service__content, .online-classes-service .service__content, .self-study-service .service__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.personal-tuition-service .service__info, .online-classes-service .service__info, .self-study-service .service__info {
  margin-top: 40px;
}
.personal-tuition-service .service-info, .online-classes-service .service-info, .self-study-service .service-info {
  height: 220px;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.personal-tuition-service .service-info .service-info__title, .online-classes-service .service-info .service-info__title, .self-study-service .service-info .service-info__title {
  font-size: 30px;
  font-weight: 600;
  color: #263238;
}
.personal-tuition-service .service-info .service-info__text, .online-classes-service .service-info .service-info__text, .self-study-service .service-info .service-info__text {
  margin-top: 30px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #8F95A5;
}
.personal-tuition-service .service-info-button, .online-classes-service .service-info-button, .self-study-service .service-info-button {
  width: fit-content;
  background-color: #EEEEEE;
  border-radius: 5px;
}
.personal-tuition-service .service-info-button .service-info-button__content, .online-classes-service .service-info-button .service-info-button__content, .self-study-service .service-info-button .service-info-button__content {
  height: 100%;
  padding: 0 22px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.personal-tuition-service .service-info-button .service-info-button__price, .online-classes-service .service-info-button .service-info-button__price, .self-study-service .service-info-button .service-info-button__price {
  font-size: 30px;
  font-weight: 400;
  color: #263238;
}
.personal-tuition-service .service-info-button .service-info-button__info, .online-classes-service .service-info-button .service-info-button__info, .self-study-service .service-info-button .service-info-button__info {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #546269;
}

.self-study-service .service__picture {
  margin-right: 100px;
}

.online-classes-service .service__picture {
  margin-top: 25px;
  margin-right: 50px;
}

.pricing__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing__title {
  font-size: 48px;
  font-weight: 600;
}
.pricing__services {
  margin-top: 67px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.page__wrapper {
  display: flex;
  justify-content: center;
  padding: 55px 132px;
}
.page__content {
  max-width: 1340px;
  flex: 1 1 auto;
}
.page__header {
  margin-top: 51px;
}
.page__skills {
  margin-top: 166px;
}
.page__about-us {
  margin-top: 252px;
}
.page__pricing {
  margin-top: 207px;
}