* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: Poppins, sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  font-family: Poppins, sans-serif;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins, sans-serif;
  font-size: inherit;
  font-weight: inherit;
}

p,
span {
  font-family: Poppins, sans-serif;
}

.outline-button {
  width: 291px;
  height: 65px;
  border-radius: 5px;
  background: #263238;
  width: 100%;
  background: none;
  border: 2px solid #263238;
  font-size: 20px;
  font-weight: 400;
}
.outline-button_hidden {
  display: none;
}
@media (min-width: 320px) {
  .outline-button {
    max-width: 330px;
    height: 70px;
  }
}
@media (min-width: 575px) {
  .outline-button {
    width: 210px;
    height: 60px;
  }
}
@media (min-width: 767px) {
  .outline-button {
    width: 160px;
    height: 50px;
  }
}
@media (min-width: 992px) {
  .outline-button {
    width: 220px;
    height: 70px;
  }
}

.close-button {
  width: 40px;
  height: 40px;
  position: absolute;
  background: transparent;
}
.close-button::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  left: 50%;
  right: 50%;
  background-image: url("../../../assets/svgs/cross.svg");
}

.burger-menu {
  display: none;
  padding: 5px;
  background: transparent;
}
@media (min-width: 320px) {
  .burger-menu {
    padding: 20px;
  }
}
.burger-menu_active {
  display: block;
}
.burger-menu__icon {
  width: 33px;
  height: 20px;
  position: relative;
}
@media (min-width: 320px) {
  .burger-menu__icon {
    width: 42px;
    height: 24px;
  }
}
@media (min-width: 575px) {
  .burger-menu__icon {
    width: 30px;
    height: 18px;
  }
}
.burger-menu__icon::before, .burger-menu__icon::after, .burger-menu__icon span {
  left: 0;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #39515E;
  border-radius: 1px;
}
@media (min-width: 320px) {
  .burger-menu__icon::before, .burger-menu__icon::after, .burger-menu__icon span {
    height: 4px;
  }
}
@media (min-width: 575px) {
  .burger-menu__icon::before, .burger-menu__icon::after, .burger-menu__icon span {
    height: 3px;
  }
}
.burger-menu__icon::before, .burger-menu__icon::after {
  content: "";
}
.burger-menu__icon::before {
  top: 0;
}
.burger-menu__icon::after {
  width: 24px;
  bottom: 0;
}
@media (min-width: 320px) {
  .burger-menu__icon::after {
    width: 30px;
  }
}
@media (min-width: 575px) {
  .burger-menu__icon::after {
    width: 22px;
  }
}
.burger-menu__icon span {
  top: 50%;
  transform: scale(1) translate(0, -50%);
}

.logo {
  font-size: 24px;
  font-weight: 400;
}
.logo span {
  color: #939393;
}
@media (min-width: 320px) {
  .logo {
    font-size: 30px;
  }
}
@media (min-width: 992px) {
  .logo {
    font-size: 36px;
  }
}

.navbar-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media (min-width: 767px) {
  .navbar-links {
    flex-direction: row;
    gap: 30px;
  }
}
@media (min-width: 992px) {
  .navbar-links {
    gap: 38px;
  }
}
.navbar-links_hidden {
  display: none;
}
.navbar-links__link {
  color: black;
  font-size: 22px;
  font-weight: 500;
  margin-top: 42px;
}
@media (min-width: 320px) {
  .navbar-links__link {
    font-size: 24px;
  }
}
@media (min-width: 575px) {
  .navbar-links__link {
    margin-top: 43px;
    font-size: 22px;
  }
  .navbar-links__link:first-child {
    margin-top: 0;
  }
}
@media (min-width: 767px) {
  .navbar-links__link {
    margin-top: 0;
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .navbar-links__link {
    font-size: 20px;
  }
}
.navbar-links__link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.navbar-menu {
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  display: none;
  position: fixed;
  background-color: rgba(7, 34, 47, 0.7);
  z-index: 666;
}
.navbar-menu_active {
  display: flex;
}
.navbar-menu__body {
  width: 100%;
  display: flex;
  background-color: white;
  position: relative;
}
@media (min-width: 575px) {
  .navbar-menu__body {
    width: 429px;
  }
}
.navbar-menu__content {
  width: 100%;
  padding: 32px 15px;
}
@media (min-width: 320px) {
  .navbar-menu__content {
    padding: 58px 33px;
  }
}
@media (min-width: 575px) {
  .navbar-menu__content {
    padding: 49px 39px;
    padding-right: 26px;
  }
}
.navbar-menu__divider {
  width: 100%;
  height: 1px;
  margin-top: 30px;
  background-color: #C4C4C4;
}
@media (min-width: 320px) {
  .navbar-menu__divider {
    margin-top: 56px;
  }
}
@media (min-width: 575px) {
  .navbar-menu__divider {
    margin-top: 33px;
  }
}
@media (min-width: 575px) {
  .navbar-menu__links {
    margin-top: 58px;
  }
}
.navbar-menu__button {
  margin-top: 80px;
}
@media (min-width: 320px) {
  .navbar-menu__button {
    margin-top: 104px;
  }
}
@media (min-width: 575px) {
  .navbar-menu__button {
    margin-top: 84px;
  }
}
.navbar-menu__close-button {
  top: 25px;
  right: 7px;
}
@media (min-width: 320px) {
  .navbar-menu__close-button {
    top: 54px;
    right: 23px;
  }
}
@media (min-width: 575px) {
  .navbar-menu__close-button {
    top: 22px;
    right: 15px;
  }
}

.navbar {
  display: flex;
}
.navbar__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-links__link {
  color: #263238;
  font-size: 16px;
  font-weight: 500;
}
@media (min-width: 992px) {
  .navbar-links__link {
    font-size: 20px;
  }
}
.navbar-links__link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.header__content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
@media (min-width: 767px) {
  .header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.header__info {
  padding-top: 50px;
}
.header__picture {
  max-width: 100%;
}
@media (min-width: 575px) {
  .header__picture {
    max-width: 100%;
    min-width: 50%;
  }
}
@media (min-width: 767px) {
  .header__picture {
    width: 460px;
  }
}
.header-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 767px) {
  .header-info {
    align-items: flex-start;
  }
}
.header-info__title {
  width: 220px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  position: relative;
  text-wrap: balance;
  text-align: center;
}
@media (min-width: 575px) {
  .header-info__title span {
    display: block;
  }
}
@media (min-width: 575px) {
  .header-info__title {
    font-size: 36px;
    line-height: 45px;
    text-wrap: wrap;
  }
}
@media (min-width: 767px) {
  .header-info__title {
    text-align: start;
  }
}
@media (min-width: 850px) {
  .header-info__title {
    width: 290px;
    font-size: 48px;
    line-height: 64px;
  }
}
@media (min-width: 1100px) {
  .header-info__title {
    width: 395px;
    font-size: 64px;
    line-height: 80px;
  }
}
.header-info__title::before {
  content: "";
  position: absolute;
  background: none;
  z-index: 10;
}
@media (min-width: 575px) {
  .header-info__title::before {
    background: url("/assets/svgs/lamp.svg");
    background-position: center;
    background-size: cover;
  }
}
@media (min-width: 767px) {
  .header-info__title::before {
    top: 60px;
    left: 230px;
    width: 60px;
    height: 60px;
  }
}
@media (min-width: 992px) {
  .header-info__title::before {
    top: 100px;
    left: 320px;
    width: 60px;
    height: 60px;
  }
}
@media (min-width: 850px) {
  .header-info__title::before {
    width: 80px;
    height: 80px;
    top: 100px;
    left: 280px;
  }
}
@media (min-width: 1100px) {
  .header-info__title::before {
    top: 120px;
    left: 400px;
    width: 85px;
    height: 85px;
  }
}
.header-info__text {
  color: #8F95A5;
  font-size: 14px;
  margin-top: 20px;
  text-wrap: pretty;
  line-height: 20px;
  text-align: center;
}
@media (min-width: 575px) {
  .header-info__text {
    margin-top: 30px;
    max-width: 420px;
    font-size: 20px;
    line-height: 26px;
  }
}
@media (min-width: 767px) {
  .header-info__text {
    text-align: start;
  }
}
@media (min-width: 1100px) {
  .header-info__text {
    max-width: 518px;
    line-height: 36px;
    margin-top: 40px;
    font-size: 24px;
  }
}
.header-info__button {
  width: 289px;
  height: 60px;
  border-radius: 5px;
  background: #263238;
  margin-top: 61px;
  font-size: 36px;
  color: white;
  font-size: 16px;
  margin-top: 41px;
}
@media (min-width: 575px) {
  .header-info__button {
    margin-top: 30px;
    width: 236px;
    height: 65px;
  }
}
@media (min-width: 992px) {
  .header-info__button {
    margin-top: 41px;
    width: 338px;
    height: 88px;
    border-radius: 5px;
    font-size: 30px;
  }
}
@media (min-width: 1100px) {
  .header-info__button {
    margin-top: 71px;
    width: 438px;
    height: 118px;
    border-radius: 15px;
    font-size: 36px;
  }
}

.skill-card-listening, .skill-card-reading, .skill-card-writing, .skill-card-speaking {
  background-color: #F5F5F5;
  border-radius: 10px;
}
@media (min-width: 575px) {
  .skill-card-listening, .skill-card-reading, .skill-card-writing, .skill-card-speaking {
    height: 534px;
  }
}
.skill-card-listening .skill-card__content, .skill-card-reading .skill-card__content, .skill-card-writing .skill-card__content, .skill-card-speaking .skill-card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 13px;
  padding-top: 20px;
  padding-bottom: 40px;
}
@media (min-width: 575px) {
  .skill-card-listening .skill-card__content, .skill-card-reading .skill-card__content, .skill-card-writing .skill-card__content, .skill-card-speaking .skill-card__content {
    justify-content: space-between;
  }
}
@media (min-width: 992px) {
  .skill-card-listening .skill-card__content, .skill-card-reading .skill-card__content, .skill-card-writing .skill-card__content, .skill-card-speaking .skill-card__content {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}
.skill-card-listening .skill-card__info, .skill-card-reading .skill-card__info, .skill-card-writing .skill-card__info, .skill-card-speaking .skill-card__info {
  max-width: 328px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 575px) {
  .skill-card-listening .skill-card__info, .skill-card-reading .skill-card__info, .skill-card-writing .skill-card__info, .skill-card-speaking .skill-card__info {
    justify-content: space-between;
  }
}
@media (min-width: 767px) {
  .skill-card-listening .skill-card__info, .skill-card-reading .skill-card__info, .skill-card-writing .skill-card__info, .skill-card-speaking .skill-card__info {
    margin-top: 0;
  }
}
.skill-card-listening .skill-card__picture, .skill-card-reading .skill-card__picture, .skill-card-writing .skill-card__picture, .skill-card-speaking .skill-card__picture {
  max-width: 100%;
}
.skill-card-listening .skill-card__title, .skill-card-reading .skill-card__title, .skill-card-writing .skill-card__title, .skill-card-speaking .skill-card__title {
  color: #2A3246;
  font-weight: 600;
  font-size: 18px;
}
@media (min-width: 992px) {
  .skill-card-listening .skill-card__title, .skill-card-reading .skill-card__title, .skill-card-writing .skill-card__title, .skill-card-speaking .skill-card__title {
    font-size: 30px;
  }
}
.skill-card-listening .skill-card__text, .skill-card-reading .skill-card__text, .skill-card-writing .skill-card__text, .skill-card-speaking .skill-card__text {
  color: #8F95A5;
  font-size: 13px;
  line-height: 20px;
  margin-top: 16px;
}
@media (min-width: 992px) {
  .skill-card-listening .skill-card__text, .skill-card-reading .skill-card__text, .skill-card-writing .skill-card__text, .skill-card-speaking .skill-card__text {
    font-size: 16px;
    line-height: 24px;
  }
}
.skill-card-listening span, .skill-card-reading span, .skill-card-writing span, .skill-card-speaking span {
  display: block;
  height: 16px;
}
.skill-card-listening .skill-card__button, .skill-card-reading .skill-card__button, .skill-card-writing .skill-card__button, .skill-card-speaking .skill-card__button {
  width: 178px;
  height: 50px;
  border-radius: 5px;
  background: #263238;
  margin-top: 38px;
  color: white;
  font-size: 16px;
}
@media (min-width: 575px) {
  .skill-card-listening .skill-card__button, .skill-card-reading .skill-card__button, .skill-card-writing .skill-card__button, .skill-card-speaking .skill-card__button {
    width: 230px;
    height: 60px;
    font-size: 20px;
  }
}

.skill-card-speaking {
  grid-area: speaking;
}
@media (min-width: 767px) {
  .skill-card-speaking .skill-card__content {
    padding-top: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.skill-card-speaking .skill-card__info {
  margin-top: 40px;
}

.skill-card-writing {
  grid-area: writing;
}
.skill-card-writing .skill-card__content {
  height: 100%;
  padding-bottom: 40px;
  position: relative;
}
@media (min-width: 992px) {
  .skill-card-writing .skill-card__content {
    padding-top: 40px;
    padding-top: 278px;
  }
}
.skill-card-writing .skill-card__picture {
  max-width: 236px;
}
@media (min-width: 992px) {
  .skill-card-writing .skill-card__picture {
    max-width: 293px;
    position: absolute;
    top: 0;
    right: 0;
  }
}
.skill-card-writing .skill-card__info {
  height: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .skill-card-writing .skill-card__info {
    justify-content: space-between;
  }
}

.skill-card-reading {
  grid-area: reading;
}
.skill-card-reading .skill-card__content {
  padding-bottom: 40px;
  position: relative;
  height: 100%;
}
@media (min-width: 992px) {
  .skill-card-reading .skill-card__content {
    padding-top: 40px;
    padding-top: 278px;
  }
}
.skill-card-reading .skill-card__picture {
  max-width: 236px;
}
@media (min-width: 992px) {
  .skill-card-reading .skill-card__picture {
    max-width: 371px;
    position: absolute;
    top: 20px;
    left: 0;
  }
}
.skill-card-reading .skill-card__info {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .skill-card-reading .skill-card__info {
    height: 100%;
    justify-content: space-between;
  }
}

.skill-card-listening {
  grid-area: listening;
}
.skill-card-listening .skill-card__content {
  padding-bottom: 40px;
  height: 100%;
}
@media (min-width: 992px) {
  .skill-card-listening .skill-card__content {
    padding-top: 40px;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
@media (min-width: 992px) {
  .skill-card-listening .skill-card__button {
    margin-top: 20px;
  }
}

.skills__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills__title {
  font-size: 24px;
  font-weight: 600;
}
@media (min-width: 767px) {
  .skills__title {
    font-size: 48px;
  }
}
.skills__cards {
  margin-top: 64px;
  display: grid;
  gap: 20px;
  grid-template-areas: "speaking" "writing" "reading" "listening";
}
@media (min-width: 575px) {
  .skills__cards {
    grid-template-areas: "speaking writing" "reading listening";
  }
}
@media (min-width: 992px) {
  .skills__cards {
    margin-top: 120px;
    height: 894px;
    grid-template-areas: "speaking writing reading" "speaking listening listening";
  }
}

.about-us__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-us__picture {
  max-width: 500px;
}
.about-us__info {
  max-width: 635px;
}

.about-us-info__title {
  font-size: 48px;
  font-weight: 600;
}
.about-us-info__text {
  margin-top: 46px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #8F95A5;
}
.about-us-info__counter-block {
  margin-top: 68px;
}

.counter-block {
  max-width: 610px;
  display: flex;
  justify-content: space-between;
}
.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counter__count {
  font-size: 48px;
  font-weight: 600;
  color: #263238;
}
.counter__info {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #8F95A5;
}

.personal-tuition-service, .online-classes-service, .self-study-service {
  display: flex;
}
.personal-tuition-service .service__content, .online-classes-service .service__content, .self-study-service .service__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.personal-tuition-service .service__info, .online-classes-service .service__info, .self-study-service .service__info {
  margin-top: 40px;
}
.personal-tuition-service .service-info, .online-classes-service .service-info, .self-study-service .service-info {
  height: 220px;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.personal-tuition-service .service-info .service-info__title, .online-classes-service .service-info .service-info__title, .self-study-service .service-info .service-info__title {
  font-size: 30px;
  font-weight: 600;
  color: #263238;
}
.personal-tuition-service .service-info .service-info__text, .online-classes-service .service-info .service-info__text, .self-study-service .service-info .service-info__text {
  margin-top: 30px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #8F95A5;
}
.personal-tuition-service .service-info-button, .online-classes-service .service-info-button, .self-study-service .service-info-button {
  width: fit-content;
  background-color: #EEEEEE;
  border-radius: 5px;
}
.personal-tuition-service .service-info-button .service-info-button__content, .online-classes-service .service-info-button .service-info-button__content, .self-study-service .service-info-button .service-info-button__content {
  height: 100%;
  padding: 0 22px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.personal-tuition-service .service-info-button .service-info-button__price, .online-classes-service .service-info-button .service-info-button__price, .self-study-service .service-info-button .service-info-button__price {
  font-size: 30px;
  font-weight: 400;
  color: #263238;
}
.personal-tuition-service .service-info-button .service-info-button__info, .online-classes-service .service-info-button .service-info-button__info, .self-study-service .service-info-button .service-info-button__info {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #546269;
}

.self-study-service .service__picture {
  margin-right: 100px;
}

.online-classes-service .service__picture {
  margin-top: 25px;
  margin-right: 50px;
}

.pricing__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing__title {
  font-size: 48px;
  font-weight: 600;
}
.pricing__services {
  margin-top: 67px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.contact-us__content {
  width: 100%;
  display: flex;
  justify-content: end;
  position: relative;
}
.contact-us-form {
  max-width: 750px;
}
.contact-us-form__title {
  font-size: 48px;
  font-weight: 600;
}
.contact-us-form__picture {
  position: absolute;
  left: 0;
  top: -40px;
}
.contact-us-form__text {
  margin-top: 66px;
  font-size: 20px;
  font-weight: 400;
  color: #8F95A5;
  line-height: 30px;
}
.contact-us-form__input-block {
  margin-top: 60px;
}

.contact-us-input-block__input {
  width: 450px;
  height: 80px;
  border: 1px solid #8F95A5;
  border-radius: 10px;
  padding-left: 33px;
  font-size: 20px;
  font-weight: 400;
  color: black;
}
.contact-us-input-block__input::placeholder {
  color: #8F95A5;
}
.contact-us-input-block__button {
  margin-left: 12px;
  width: 264px;
  height: 80px;
  border-radius: 10px;
  background: #263238;
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.footer__content {
  display: flex;
  flex-direction: column;
}
.footer__divider {
  width: 100%;
  height: 1px;
  background-color: #C4C4C4;
}
.footer-info {
  padding-top: 40px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-info__text {
  font-size: 24px;
  font-weight: 400;
  color: #8F95A5;
}

.page__wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 0;
  padding: 10px 16px;
}
@media (min-width: 320px) {
  .page__wrapper {
    padding: 50px 33px;
  }
}
@media (min-width: 575px) {
  .page__wrapper {
    padding: 45px 39px;
  }
}
@media (min-width: 767px) {
  .page__wrapper {
    padding: 25px 29px;
  }
}
@media (min-width: 992px) {
  .page__wrapper {
    padding: 55px 29px;
  }
}
@media (min-width: 1200px) {
  .page__wrapper {
    padding: 55px 50px;
  }
}
@media (min-width: 1400px) {
  .page__wrapper {
    padding: 55px 132px;
  }
}
.page__content {
  max-width: 1340px;
  flex: 1 1 auto;
}
.page__navbar {
  margin-top: 20px;
}
.page__header {
  margin-top: 40px;
}
@media (min-width: 992px) {
  .page__header {
    margin-top: 51px;
  }
}
.page__skills {
  margin-top: 80px;
}
@media (min-width: 992px) {
  .page__skills {
    margin-top: 166px;
  }
}
.page__about-us {
  display: none;
  margin-top: 252px;
}
.page__pricing {
  display: none;
  margin-top: 207px;
}
.page__contact-us {
  display: none;
  margin-top: 261px;
}
.page__footer {
  display: none;
  margin-top: 133px;
}