//spacing
$nav-links-gap: 38px;

//borders
$card-border: 3px solid tomato;

// box shadow 
$card-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);

// font sizes
$regular: 400;
$medium: 500;
$logo-font-size: 36px;