.navbar-links {

    @include xl {
        display: flex;
        align-items: center;
        gap: 38px;
    }

    &_hidden {
        display: none;
    }

    &__link {
        color: black;
        font-size: 16px;
        font-weight: $medium;
        margin-top: 48px;

        @include md {
            margin-top: 43px;

            &:first-child {
                margin-top: 0;
            }
        }

        @include xl {
            margin-top: 0;
            font-size: 20px;
        }

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}