.burger-menu {
    display: none;
    padding: 5px;

    @include sm {
        padding: 20px;
    }

    background: transparent;

    &_active {
        display: block;
    }

    &__icon {
        width: 33px;
        height: 20px;

        @include sm {
            width: 42px;
            height: 24px;
        }

        @include md {
            width: 30px;
            height: 18px;
        }

        position: relative;

        &::before,
        &::after,
        & span {
            left: 0;
            position: absolute;
            height: 3px;

            @include sm {
                height: 4px;
            }

            @include md {
                height: 3px;
            }

            width: 100%;
            background: $gray-blue;
            border-radius: 1px;
        }

        &::before,
        &::after {
            content: '';
        }

        &::before {
            top: 0;
        }

        &::after {
            width: 24px;
            bottom: 0;

            @include sm {
                width: 30px;
            }

            @include md {
                width: 22px;
            }
        }

        span {
            top: 50%;
            transform: scale(1) translate(0, -50%);
        }
    }
}