@mixin button($width: 291px, $height: 65px, $raduis: 5px) {
    width: $width;
    height: $height;
    border-radius: $raduis;
    background: $light-black;
}

.outline-button {
    @include button;

    width: 100%;
    background: none;
    border: 2px solid $light-black;

    font-size: 20px;
    font-weight: $regular;

    &_hidden {
        display: none;
    }

    @include sm {
        max-width: 330px;
        height: 70px;
    }

    @include md {
        width: 210px;
        height: 60px;
    }

    @include lg {
        width: 160px;
        height: 50px;
    }

    @include xl {
        width: 220px;
        height: 70px;
    }
}