.header {
    &__content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        @include md {}

        @include lg {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__info {
        padding-top: 50px;
    }

    &__picture {
        max-width: 100%;

        @include md {
            max-width: 100%;
            min-width: 50%;
        }

        @include bp(840px) {}

        @include lg {
            width: 460px;
        }

        @include xl {}
    }
}

.header-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include md {}

    @include lg {
        align-items: flex-start;
    }

    @include xl {}

    &__title {
        width: 220px;
        font-size: 24px;
        line-height: 36px;
        font-weight: $semi-bold;
        position: relative;
        text-wrap: balance;
        text-align: center;

        span {
            @include md {
                display: block;
            }
        }

        @include md {
            font-size: 36px;
            line-height: 45px;
            text-wrap: wrap;
        }

        @include lg {
            text-align: start;
        }

        @include bp(850px) {
            width: 290px;
            font-size: 48px;
            line-height: 64px;
        }

        @include bp(1100px) {
            width: 395px;
            font-size: 64px;
            line-height: 80px;
        }

        &::before {
            content: '';
            position: absolute;
            background: none;
            z-index: 10;

            @include md {
                background: url('/assets/svgs/lamp.svg');
                background-position: center;
                background-size: cover;
            }

            @include lg {
                top: 60px;
                left: 230px;
                width: 60px;
                height: 60px;
            }

            @include xl {
                top: 100px;
                left: 320px;
                width: 60px;
                height: 60px;
            }

            @include bp(850px) {
                width: 80px;
                height: 80px;
                top: 100px;
                left: 280px;
            }

            @include bp(1100px) {
                top: 120px;
                left: 400px;
                width: 85px;
                height: 85px;
            }
        }
    }

    &__text {
        color: $sky-gray;
        font-size: 14px;
        margin-top: 20px;
        text-wrap: pretty;
        line-height: 20px;
        text-align: center;

        @include md {
            margin-top: 30px;
            max-width: 420px;
            font-size: 20px;
            line-height: 26px;
        }

        @include lg {
            text-align: start;
        }

        @include xl {}

        @include bp(1100px) {
            max-width: 518px;
            line-height: 36px;
            margin-top: 40px;
            font-size: 24px;
        }
    }

    &__button {
        @include button(289px, 60px, 5px);
        margin-top: 61px;
        font-size: 36px;
        color: white;
        font-size: 16px;
        margin-top: 41px;

        @include md {
            margin-top: 30px;
            width: 236px;
            height: 65px;
        }

        @include xl {
            margin-top: 41px;
            width: 338px;
            height: 88px;
            border-radius: 5px;
            font-size: 30px;
        }

        @include bp(1100px) {
            margin-top: 71px;
            width: 438px;
            height: 118px;
            border-radius: 15px;
            font-size: 36px;
        }
    }
}