.logo {
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: $regular;

    span {
        color: $gray;
    }

    @include sm {
        font-size: 30px;
    }

    @include xl {
        font-size: 36px;
    }
}