.page {
    &__wrapper {
        display: flex;
        justify-content: center;
        padding-bottom: 0;

        padding: 46px 16px;

        @include sm {
            padding: 50px 33px;
        }

        @include md {
            padding: 45px 39px;
        }

        @include lg {
            padding: 25px 29px;
        }

        @include xl {
            padding: 55px 132px;
        }
    }

    &__content {
        max-width: $page-content-max-width;
        flex: 1 1 auto;
    }

    &__navbar {}

    &__header {
        display: none;
        margin-top: 51px;
    }

    &__skills {
        display: none;
        margin-top: 166px;
    }

    &__about-us {
        display: none;
        margin-top: 252px;
    }

    &__pricing {
        display: none;
        margin-top: 207px;
    }

    &__contact-us {
        display: none;
        margin-top: 261px;
    }

    &__footer {
        display: none;
        margin-top: 133px;
    }


}