.page {
    &__wrapper {
        display: flex;
        justify-content: center;
        padding-bottom: 0;

        padding: 10px 16px;

        @include sm {
            padding: 50px 33px;
        }

        @include md {
            padding: 45px 39px;
        }

        @include lg {
            padding: 25px 29px;
        }

        @include xl {
            padding: 55px 29px;
        }

        @include bp(1200px) {
            padding: 55px 50px;
        }

        @include bp(1400px) {
            padding: 55px 132px;
        }
    }

    &__content {
        max-width: $page-content-max-width;
        flex: 1 1 auto;
    }

    &__navbar {
        margin-top: 20px;
    }

    &__header {
        margin-top: 40px;

        @include xl {
            margin-top: 51px;
        }
    }

    &__skills {
        margin-top: 80px;

        @include xl {
            margin-top: 166px;
        }
    }

    &__about-us {
        margin-top: 84px;

        @include md {
            margin-top: 115px;
        }

        @include lg {
            margin-top: 252px;
        }
    }

    &__pricing {
        margin-top: 207px;
    }

    &__contact-us {
        display: none;
        margin-top: 261px;
    }

    &__footer {
        display: none;
        margin-top: 133px;
    }
}