%skill-card {
    background-color: $light-gray;
    border-radius: 10px;


    @include md {
        height: 534px;
    }

    @include lg {
        height: auto;
    }

    .skill-card__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 0 13px;
        padding-top: 20px;
        padding-bottom: 40px;
        height: 100%;

        @include md {
            padding-top: 0;
            padding-bottom: 36px;
        }


        @include xl {
            padding-top: 42px;
            padding-bottom: 42px;
        }
    }

    .skill-card__text-block {}

    .skill-card__info {
        max-width: 328px;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        height: 100%;

        @include md {
            margin-top: 200px;
            justify-content: space-between;
        }

        @include lg {
            height: auto;
            flex: 0 0;
            margin-top: 215px;
        }
    }

    .skill-card__picture {
        max-width: 100%;

        @include md {
            top: 10px;
            left: 10%;
            position: absolute;
        }

        @include lg {}
    }

    .skill-card__title {
        color: $dark-blue;
        font-weight: $semi-bold;
        font-size: 18px;

        @include md {
            font-size: 18px;
        }

        @include lg {
            font-size: 20px;
        }

        @include xl {
            font-size: 30px;
        }
    }

    .skill-card__text {
        color: $sky-gray;
        font-size: 13px;
        line-height: 20px;
        margin-top: 16px;

        @include md {
            font-size: 12px;
        }

        @include lg {
            font-size: 13px;
        }

        @include xl {
            font-size: 16px;
            line-height: 24px;
        }
    }

    span {
        display: block;
        height: 16px;
    }

    .skill-card__button {
        @include button(178px, 50px, 5px);
        margin-top: 38px;
        color: white;
        font-size: 16px;

        @include md {
            margin-top: 0;
            width: 100%;
            height: 50px;
            font-size: 14px;
        }

        @include lg {
            margin-top: 20px;
            width: 178px;
        }

        @include xl {
            width: 230px;
            height: 60px;
            font-size: 20px;
        }
    }
}

.skill-card-speaking {
    @extend %skill-card;
    grid-area: speaking;

    .skill-card__content {
        @include lg {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

    }

    .skill-card__picture {
        @include md {
            max-width: 185px;
        }
    }
}

.skill-card-writing {
    @extend %skill-card;
    grid-area: writing;

    .skill-card__content {
        position: relative;

        @include xl {
            padding-top: 40px;
            padding-top: 278px;
        }
    }

    .skill-card__picture {
        max-width: 236px;

        @include md {
            max-width: 182px;
        }

        @include xl {
            max-width: 293px;
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .skill-card__info {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}

.skill-card-reading {
    @extend %skill-card;
    grid-area: reading;

    .skill-card__content {

        @include xl {
            padding-top: 40px;
            padding-top: 278px;
        }
    }

    .skill-card__picture {

        @include md {
            top: 30px;
            max-width: 198px;
        }

        @include xl {
            max-width: 371px;
            position: absolute;
            top: 20px;
            left: 0;
        }
    }

    .skill-card__info {
        display: flex;
        flex-direction: column;

        @include xl {
            height: 100%;
            justify-content: space-between;
        }
    }
}

.skill-card-listening {
    @extend %skill-card;
    grid-area: listening;

    .skill-card__content {
        @include lg {
            padding-bottom: 0;
            display: flex;
            flex-direction: row;
        }
    }

    .skill-card__picture {
        max-width: 206px;

        @include md {
            top: 30px;
        }

        @include lg {
            left: auto;
            right: 2%;
        }

        @include bp(860px) {
            right: 10%;
        }
    }

    .skill-card__text {
        @include lg {
            width: 250px;
            text-wrap: wrap;
        }
    }

    .skill-card__info {
        @include lg {
            display: flex;
            justify-content: start;
            margin-top: 0;
        }
    }

    .skill-card__button {}
}