.skills {
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include xl {}
    }

    &__title {
        font-size: 24px;
        font-weight: $semi-bold;

        @include lg {
            font-size: 48px;
        }
    }

    &__cards {
        margin-top: 64px;
        display: grid;
        gap: 20px;
        grid-template-areas:
            "speaking"
            "writing"
            "reading"
            "listening";

        @include md {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
                "speaking writing"
                "reading listening";
        }

        @include lg {
            margin-top: 120px;
            height: 894px;
            gap: 10px;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 441px 210px;
            grid-template-areas:
                "speaking writing reading"
                "speaking listening listening";
        }
    }
}